#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

body {
  background-color: rgb(144, 144, 144);
}

.custom-bg {
  background-color: transparent;
  border: none;
}

.nav-link-active {
  color: red!important;
  text-shadow: 0px 0px 7px black;
}

.nav-link {
  color: black!important;
}

.nav-link:hover {
  color: red!important;
  text-shadow: 0px 0px 7px black;
}

.card {
  padding: 2em;
}

/* .read-the-docs {
  color: #888;
} */
/* header */
.nameHeader {
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 0px 15px black;
  transition: color 4s;
  transition: text-shadow 2s;
}

.nameHeader:hover {
  color: grey;
  text-shadow: 0px 0px 15px white;
}

/* decoration */
.top-decor {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  margin: auto;
  background-image: url("https://ik.imagekit.io/z2zvp5n2o/tech-background.jpg?updatedAt=1695684532911");
  box-shadow: inset 0px 0px 10px black, 0 0 15px black;
  border-radius: 20px;
  opacity: .9;
}
.top-decor img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 25px;
  box-shadow: inset 0 0 0 0, 0 0 7px whitesmoke;
}

/* home page */
p {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgb(255, 205, 205);
}


/* contact page */
.contact {
  display: inline-block;
  width: 100%;
}

.contact ul {
  float: none;
  font-family: sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.contact li {
  /* display: inline-block; */
  color:  rgb(51, 1, 1);
  padding: 10px;
}

.contact a {
  color: rgb(209, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-shadow: none;
  /* border-bottom: 1px solid rgb(209, 29, 29); */
  /* border-bottom-style: groove; */
  transition: text-shadow .5s;
}

.contact a:hover {
  text-shadow: 0 0 3px black;
}

.contact-img {
  width: 50px;
}

.contact-img:hover {
  width: 60px;
}

/* projects page */

.project-header {
  text-shadow: 0px 0px 10px rgb(168, 168, 168);
}

.project-img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0, 0 0 7px black;
}

.project-img:hover {
  box-shadow: inset 0 0 0 0, 0 0 7px whitesmoke;
  opacity: .6;
}

.project-name {
  text-shadow: 2px 2px 4px rgb(133, 62, 62);
}

@media screen and (max-width: 768px) {
  
}